* {
  margin: 0;
}

body {
  height: 100%;
}

.result {
  display: none;
  width: 2px;
}

.container {
  min-height: 100%;
  float: left;
}

.footer {
  text-align: center;
  margin-top: 100em;
}



#sidebar {
  background-color: #999966;
  height: 95em;
  padding-left: 20px;

}
.jumbotron {
  text-align: center;
  background-color: #008000;
  color: white;
}
